<form>
    <div class="form-group">
        <label>{{ localize "dndverum.Formula" }}</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>

    <div class="form-group">
        <label>{{ localize "dndverum.AbilityModifier" }}</label>
        <select name="ability">
        {{#select data.item.ability}}
        {{#each config.abilities as |ability a|}}
        <option value="{{a}}">{{ability}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{ localize "dndverum.RollSituationalBonus" }}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'dndverum.RollExample' }}"/>
    </div>

    <div class="form-group">
        <label>{{ localize "dndverum.RollMode" }}</label>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</form>